---

---

<div id="search"></div>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<script is:inline>
	window.addEventListener("DOMContentLoaded", (event) => {
		if (typeof PagefindUI !== "undefined") {
			new PagefindUI({
				element: "#search",
				showSubResults: true,
				showImages: false,
				translations: {
					placeholder: "Search posts...",
					zero_results: "No results found for [SEARCH_TERM]",
				},
			});
		}
	});
</script>

<style>
	#search {
		margin: 2rem 0;
	}
</style>
